* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.site-header {
  position: fixed;
  z-index: 300;
  width: 100%;
  top: 0;
  left: 0; }
  .site-header .topbar {
    position: relative;
    width: 100%;
    float: left;
    background-color: #f1f2f2;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3); }
    .site-header .topbar .topbar-inner {
      max-width: 1124px;
      margin-left: auto;
      margin-right: auto; }
      .site-header .topbar .topbar-inner:after {
        content: "";
        display: table;
        clear: both; }
      .site-header .topbar .topbar-inner .logo {
        float: left;
        padding: 20px 0; }
      .site-header .topbar .topbar-inner .topbar-menu {
        float: right; }
  .site-header .header-wrapper {
    width: 100%;
    float: left; }
    .site-header .header-wrapper .header-inner {
      max-width: 1124px;
      margin-left: auto;
      margin-right: auto; }
      .site-header .header-wrapper .header-inner:after {
        content: "";
        display: table;
        clear: both; }
      .site-header .header-wrapper .header-inner .js-mobile-user-menu {
        display: none; }
  .site-header > .navigation-wrapper {
    width: 100%;
    float: left;
    background-color: #3c777c;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3); }
    .site-header > .navigation-wrapper .navigation-inner {
      max-width: 1124px;
      margin-left: auto;
      margin-right: auto; }
      .site-header > .navigation-wrapper .navigation-inner:after {
        content: "";
        display: table;
        clear: both; }
      .site-header > .navigation-wrapper .navigation-inner .main-menu-wrapper {
        float: left;
        display: block;
        margin-right: 2.4911%;
        width: 57.29537%; }
        .site-header > .navigation-wrapper .navigation-inner .main-menu-wrapper:last-child {
          margin-right: 0; }
      .site-header > .navigation-wrapper .navigation-inner .pane-search-form {
        float: left;
        display: block;
        margin-right: 2.4911%;
        width: 40.21352%;
        margin-right: 0;
        padding: 15px 0; }
        .site-header > .navigation-wrapper .navigation-inner .pane-search-form:last-child {
          margin-right: 0; }
        .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-item-search-block-form {
          width: 84.95575%;
          float: left; }
          .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-item-search-block-form input[type="text"] {
            -webkit-transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
            -moz-transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
            border-radius: 5px 0px 0px 5px;
            width: 46.06742%;
            float: right; }
            .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-item-search-block-form input[type="text"]:focus {
              width: 100%; }
        .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-actions {
          width: 15.04425%;
          float: left; }
          .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-actions input[type="submit"] {
            border-radius: 0px 5px 5px 0px; }

/*# sourceMappingURL=header.css.map */
